<div class="adopt-main-div">
  <div class="text-div mt-5">
    <h1>Inventar</h1>
  </div>

  <div class="container text-center mt-5 col-10">
    <div class="inventory-grid mx-auto">

      <div *ngFor="let fruit of playerInventory">
        <div class="d-flex justify-content-center position-relative">
          <button class="inventory-item" (click)="onClickItem(fruit)">
            <img [src]="fruit.image" [id]="fruit.id" [title]="fruit.name">
            <div class="amount">{{fruit.amount}}</div>
          </button>
        </div>


      </div>


    </div>
  </div>
</div>
