<div
        class="coins-earning-div d-flex justify-content-center align-items-center min-vh-100 bg-dark bg-gradient"
        *ngIf="showCoinsDiv"
>
    <div
            class="card text-center border-0 shadow-lg p-5 position-relative animate__animated animate__bounceIn"
    >
        <button
                type="button"
                class="btn-close btn-close-white position-absolute top-0 end-0 m-3"
                aria-label="Close"
                (click)="closeCoinsDiv()"
        ></button>

        <div class="card-body">
            <h1 class="card-title text-success fw-bold display-4 mb-3 glow-text">
                🎉 Woohoo!
            </h1>
            <p class="card-text fs-3">
                Du hast <strong class="text-warning">Coins</strong> gewonnen!
            </p>
        </div>
    </div>
</div>
