
<div class="mt-5 d-flex justify-content-center">
  <div class="inventory-grid with-title">

    <div class="scrollable-grid">
      <div *ngFor="let animal of pets" class="grid-item" (click)="onAnimalCardClick(animal.getPet())">
        <div
          [ngClass]="[animal.getPet()?.getAnimationCss().image, animal.getPet()?.getAnimationCss().current]"
          [ngStyle]="{ 'background-image': 'url(' + animal.getPet()?.getImagePath() + ')' }">


          <div class="coin-container mb-3" (click)="onClickCoin()" style="color:black">
            <i class="nes-icon coin mx-3"></i>
            {{ petCost }}
          </div>

          <div class="buy-button-div">
            <button class="buy-button mx-3 nes-btn is-primary" (click)="openBuyModal(animal)">Kaufen</button>
          </div>
        </div>

        <ng-template #buyModal let-modal>
          <section class="nes-dialog is-dark is-rounded alert-center">
            <div class="mt-4 mb-4 text-center">
              <h3>{{ selectedAnimal.type }} kaufen</h3>
              <div *ngIf="quantityError" class="nes-text is-error mt-2">
                {{ quantityError }}
              </div>
            </div>

            <div class="text-center mt-4">
              <button class="nes-btn is-error mx-3" (click)="modal.close()">Abbrechen</button>
              <button class="nes-btn is-success mx-3" (click)="confirmBuy(selectedAnimal)">Kaufen</button>
            </div>
          </section>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<p-toast position="bottom-right" />

