<div class="main-div ">
  <div class="main-container  with-title overflow-hidden" *ngIf="!isProfileImageButtonPressed">
    <div class="container w-50">
      <div class="profile-image-div mb-3 d-flex justify-content-center">
        <img [src]="profileImage" alt="Profilbild" />
        <button class="delete-btn" (click)="onProfileImageRemove()" >
          <i class="bi bi-trash3-fill"></i>
        </button>
      </div>

      <div class="nes-field mb-3">
        <input type="text" id="username" class="nes-input" [value]="keyCloakUserName" disabled style="width: fit-content">
      </div>

      <div class="mb-3">
        <button class="nes-btn is-primary">Passwort ändern</button>
      </div>

      <div class="mb-3">
        <button class="nes-btn is-error" (click)="deleteAccount()">Account löschen</button>
      </div>

      <div class="mt-5">
        <button class="nes-btn is-warning" (click)="onDrawAvatarClick()">Profilbild malen</button>
      </div>
    </div>
  </div>

  <div *ngIf="isProfileImageButtonPressed">
    <app-draw-avatar></app-draw-avatar>
  </div>

</div>

<!--  <app-alert-center-modal-component [title]="titleDeleteAccount" [service]="deleteAccountService">-->
<!--    <form method="dialog">-->
<!--      <div class="text-center">-->
<!--        <button class="nes-btn mx-3" (click)="closeModal()">Abbrechen</button>-->
<!--        <button class="nes-btn is-primary mx-3" (click)="confirmDeleteAccount()">Löschen</button>-->
<!--      </div>-->
<!--    </form>-->
<!--  </app-alert-center-modal-component>-->

<!--<app-alert-center-modal-component [title]="titleDeleteAccount" [service]="deleteAccountService">-->
<!--  <form method="dialog">-->
<!--    <div class="text-center">-->
<!--      <button class="nes-btn mx-3" (click)="closeModal()">Abbrechen</button>-->
<!--      <button class="nes-btn is-primary mx-3" (click)="confirmDeleteAccount()">Löschen</button>-->
<!--    </div>-->
<!--  </form>-->
<!--</app-alert-center-modal-component>-->

<!--<app-alert-center-modal-component [title]="titleLogout" [service]="logoutService">-->
<!--  <form method="dialog">-->
<!--    <div class="text-center">-->
<!--      <button class="nes-btn mx-3" (click)="closeModal()">Abbrechen</button>-->
<!--      <button class="nes-btn is-primary mx-3" (click)="confirmLogout()">Abmelden</button>-->
<!--    </div>-->
<!--  </form>-->
<!--</app-alert-center-modal-component>-->

