body, .background {
  margin: 0;
  height: 100vh;
  width: calc(100vw - 300px);
  display: flex;
justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #4a90e2 30%, #002244 100%) fixed;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  justify-content: center;
}
.cell {
  width: 100px;
  height: 100px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  border: 2px solid #000;
}
