
<div class="adopt-main-div position-relative">
  <!-- <div class="animated-banner"></div>
  <div class="animated-banner position-absolute bottom-0 "></div> -->

  <div class="container-fluid main-container" >
    <div class="structur container">

      <div class="col-4 animal-div">
        <div class="avatar-selection">
            <div
              [ngClass]="[animal?.getAnimationCss().image, animal?.getAnimationCss().current]"
              [ngStyle]="{ 'background-image': 'url(' + animal?.getImagePath() + ')' }">
            </div>
        </div>
      </div>

      <div class="col-7 chat-container nes-container with-title is-dark">
        <div class="chat-title-div mb-2">
          <h6 class="title">{{animal?.getName()}}</h6>

          <div
            [ngClass]="[animal?.getAnimationCss().icon, animal?.getAnimationCss().animations.static]"
            [ngStyle]="{ 'background-image': 'url(' + animal?.getImagePath() + ')' }">
          </div>
        </div>
        <div class="chat-box">
          <div class="m-3">
            <div class="chat-container" *ngFor="let message of messagesList">

              <div class="chat-message user">
                <div class="message-content nes-balloon ">
                  <p>{{message.request}}</p>
                </div>
              </div>

              <div class="chat-message ai">
<!--                <img *ngIf="messagesList.length > 0" class="chat-avatar" [src]="animal?.getImagePath()" />-->
                <div class="message-content ai-style  nes-balloon from-left">
                  <p>{{ message.response || '...' }}</p>
                </div>
              </div>

            </div>

          </div>

        </div>

        <div class="chat-input">
          <input (keyup)="funnySoundEffect()" (keyup.enter)="sendMassageToAI()" [(ngModel)]="userInput" type="text" class="nes-input" style="font-size: 14px"  placeholder="Nachricht eingeben..." />
          <button class="nes-btn is-primary" (click)="sendMassageToAI()">Senden</button>
        </div>
      </div>

    </div>
    <div class="position-absolute" style="right: 10px; top: 100px;">
      <div class="d-flex flex-column  nes-dialog " style="border-radius: 10px; align-items: flex-end; ">
        <button class="nes-btn is-primary mb-2" (click)="togglePopup()">Füttern</button>
        <app-rollover-popup
          *ngIf="popupVisible"
          [items]="playerInventory"
          (itemClicked)="handleItemClick($event)"
        />
        <button class="nes-btn is-success mb-2">Spielen</button>
        <button class="nes-btn is-error mb-2">Schlafen</button>
      </div>
    </div>

    <div style="position: absolute; top: 10px; left: 10px; width: 75px; height: 75px;">
      <button class="w-100" style="background: none; border: none; padding: 0;" (click)="onArrowClick()">
        <img class="w-100 h-100" src="https://cdn3.iconfinder.com/data/icons/ux-game-pixel-art/100/pixel-18-512.png" alt="Pfeil-Icon" />
      </button>
      <div class="mt-5" style="width: 30vw; opacity: .3" >
        <h6>Geheimer Code: <span class="text-black fw-bold">schwerk</span></h6>
     </div>
    </div>
  </div>
</div>

