<div class="game-container">
  <div class="player-area player">
    <div *ngFor="let card of players['player1']; let i = index"
         class="card-wrapper"
         [style.z-index]="getCardZIndex(i)"
         [style.transform]="getCardTransform(i, players['player1']!.length)">
      <img [src]="card" class="card" [alt]="'UNO Karte ' + card" />
    </div>
  </div>

  <div class="game-middle"></div>

  <div>
    <div>
      <div class="container-card">
        <button (click)="onCompleteRoundClick()" class="uno-btn">
          <img #backCard src="figmaUnoCard0-9/backCard.svg" style="width: 150px" class="uno-card card-front">
        </button>
      </div>
      <ng-content></ng-content>
    </div>

  </div>

  <div class="player-area opponent">
    <div *ngFor="let card of players['player2']; let i = index"
         class="card-wrapper"
         [style.z-index]="getCardZIndex(i)"
         [style.transform]="getCardTransform(i, players['player2']!.length)"
         (click)="playCardIfValid(card, 'player2')">
      <img [src]="card" class="card" [alt]="'UNO Karte ' + card" />
    </div>
  </div>
</div>

<app-pick-color (colorSelected)="handleColorSelected($event)"></app-pick-color>
