<div class="game-container">
  <div class="player-area player">
    <div *ngFor="let card of players['player1']; let i = index"
         class="card-wrapper"
         [style.z-index]="getCardZIndex(i)"
         [style.transform]="getCardTransform(i, players['player1']!.length)"
         (click)="playCardIfValid(card, 'player1')">
      <img [src]="card" class="card" [alt]="'UNO Karte ' + card" />
    </div>
  </div>

  <div class="game-middle"></div>

  <div>
    <div class="action-area">
      <button (click)="completeRound()" class="uno-btn">
        <i class="bi bi-flag-fill"></i>
      </button>
    </div>
    <ng-content></ng-content>
  </div>

  <div class="player-area opponent">
    <div *ngFor="let card of players['player2']; let i = index"
         class="card-wrapper"
         [style.z-index]="getCardZIndex(i)"
         [style.transform]="getCardTransform(i, players['player2']!.length)"
         (click)="playCardIfValid(card, 'player2')">
      <img [src]="card" class="card" [alt]="'UNO Karte ' + card" />
    </div>
  </div>
</div>
