.game-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

.player-area {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 160px;
  padding: 20px;
}

.player-area.opponent {
  align-items: flex-start;
}

.player-area.player {
  align-items: flex-end;
}

.card-wrapper {
  margin-left: -30px;
  position: relative;
  border: none;
  box-shadow: none;
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

.card-wrapper:first-child {
  margin-left: 0;
}

.card {
  width: 80px;
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  transition: transform 0.2s ease-out;
}

.card-wrapper:hover {
  transform: translateY(-15px) scale(1.08);
  z-index: 100 !important;
  transition: transform 0.2s ease-in-out;

}

.card-wrapper:hover .card {
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
}

.uno-btn {
  color: white;
  border: none;
  cursor: pointer;
  background: transparent;
}

.action-area {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

