<div class="d-flex justify-content-center align-items-center min-vh-100 w-100">
  <div class="bg-white text-dark rounded shadow-lg p-4 w-50 d-flex justify-content-between gap-3 w-100">

    <div class="w-50 text-center border-end border-secondary pe-3">
      <h2 class="fs-4 fw-semibold mb-3 d-flex align-items-center justify-content-center gap-2">
        <i class="bi bi-robot text-primary fs-3" style="margin-top: -10px;"></i> Gegen Bot
      </h2>

      <div class="mb-3 py-2 bg-light rounded text-lg fw-semibold">
        Spieleranzahl: <span class="text-primary">{{numberOfPlayersBot}}</span>
      </div>

      <button class="w-100 btn btn-primary fw-semibold fs-5" (click)="startGameBot()">
        Spiel starten
      </button>
    </div>

    <div class="w-50 text-center ps-3">
      <h2 class="fs-4 fw-semibold mb-3 d-flex align-items-center justify-content-center gap-2">
        <span class="text-success fs-3" style="margin-top: -15px;">👥</span> Multiplayer
      </h2>

      <div class="mb-3 py-2 bg-light rounded text-lg fw-semibold">
        Spieleranzahl: <span class="text-success">{{numberOfPlayers}}</span>
      </div>

      <button class="w-100 btn btn-success fw-semibold fs-5" (click)="startGamePlayer()">
        Spiel starten
      </button>
    </div>

  </div>
</div>
