.display-grid{
  display: grid;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  gap: 10px;
}

.width100{
  width: 100%;
}

.modal-content {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}
