<div class="container mt-5">
  <div class="row row-cols-1 row-cols-md-5 g-4 text-center">
    <div class="col" *ngFor="let pack of coinPacks">
      <div class="card h-100 shadow-sm position-relative">

        <div *ngIf="pack.label"
             class="position-absolute top-0 start-50 translate-middle-x badge"
             [ngClass]="{
               'bg-success': pack.label === 'Popular',
               'bg-danger': pack.label === 'Best deal!'
             }">
          {{ pack.label }}
        </div>

        <img [src]="pack.image" class="card-img-top p-4" [alt]="pack.label || 'Coin pack'" />

        <div class="card-body">
          <h5 class="card-title">{{ pack.amount }} Coins</h5>
          <p class="card-text">
            <span class="btn btn-success">${{ pack.price }}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
