<div class="adopt-main-div">
  <div class="nav-buttons d-flex justify-content-center">
    <button
      class="nes-btn custom-btn"
      [ngClass]="{'is-active': selectedTab === 'buy' } "
      (click)="selectTab('buy')">
      Einkaufen
    </button>
    <button
      class="nes-btn custom-btn ml-2"
      [ngClass]="{'is-active': selectedTab === 'sell'}"
      (click)="selectTab('sell')">
      Verkaufen
    </button>
  </div>

  <div class="mt-5 d-flex justify-content-center">
    <div class="inventory-grid with-title">
<!--      <div class="animal-food-identity mb-3">-->
<!--        <div class="scroll-content">-->
<!--          <img src="https://i.seadn.io/gae/L946W7OaQfWo9tBXjtRDKg1sSegw9OCSejW8tckApeeo9VBjLwT7ybjePkXaYFHpEEtO6wbS3t2srAN_g8ORiQYJ433M1HowGza_ock?auto=format&dpr=1&w=1000"-->
<!--               alt="Item Image" class="item-image">-->
<!--          <img src="https://i.seadn.io/gae/L946W7OaQfWo9tBXjtRDKg1sSegw9OCSejW8tckApeeo9VBjLwT7ybjePkXaYFHpEEtO6wbS3t2srAN_g8ORiQYJ433M1HowGza_ock?auto=format&dpr=1&w=1000"-->
<!--               alt="Item Image" class="item-image">-->
<!--          <img src="https://i.seadn.io/gae/L946W7OaQfWo9tBXjtRDKg1sSegw9OCSejW8tckApeeo9VBjLwT7ybjePkXaYFHpEEtO6wbS3t2srAN_g8ORiQYJ433M1HowGza_ock?auto=format&dpr=1&w=1000"-->
<!--               alt="Item Image" class="item-image">-->
<!--        </div>-->
<!--      </div>-->

      <div class="items-container">
        <div *ngFor="let item of items" (click)="onClickItem()" class="inventory-items-container">
          <div class="item-container">
            <div class="article-name text-center mb-3">
              {{ item }}
            </div>
          </div>

          <div class="coin-container  mb-3">
            <i class="nes-icon coin mx-3"></i>
            999999
          </div>

          <div class="item-buttons">
            <div class="info-button-div mx-3">
              <button>
                <i class="bi bi-info-circle-fill"></i>
              </button>
            </div>

            <div class="buy-button-div">
              <button class="buy-button mx-3 nes-btn is-primary">Kaufen</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

